<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello <%=h @friendship.friend.first_name %>,
</h1>
<p>
<%=@friendship.person.full_name%> has accepted your friend invitation. <br/>
To see your Makany friends visit your profile page at <br/>
<%=@profile_url%>
</p>
<p>
  Have a great day! <br/>
  -- Makany
</p>
</body>
</html>
