<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Makany,<%=h @person.first_name %>
</h1>
<p>
You have successfully signed up to Makany, and your username is: <%= @person.username %>.<br/>  To login to the site, just follow this link:
</p>
<p>
  Thanks for joining and have a great day! <br/>
  -- Makany
</p>
</body>
</html>

