<h1>Places on Makany</h1>

<table>
<% for place in @places %>
  <tr>
    <td><%=h place.place_name %></td>
    <td><%=h place.location_id %></td>
    <td><%= link_to 'More Details', place %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a new place of your own', new_place_path %>
